body{
    font-family: sans-serif;
	background: white;
}

h3{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.container{
	width: 350px;
	background: #f7c17b;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 20px 20px;
}

label{
	font-size: 11pt;
}

.form-group{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 10px;
}

.form-control{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.btn{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 10px;
}